<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for category in navigation.getMenu %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('flow_show', {'id' : category.id}) }}">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% include 'article/sub/search.html.twig'%}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <img src="{{ asset('uploads/images/' ~ app.user.image) }}" class="round" style=" border-radius: 30px ;" alt="user_avatar" width="60" height="60">
        <p style="padding-left: 8px;">{{ app.user.name }}

        ( {{ app.user.email }} )</p>
        <a class="float-left" style="padding-left: 30px; padding-right: 30px" href="{{ path('app_logout') }}"><strong>Exit</strong></a>
        <a class="float-left" style="padding-left: 30px; padding-right: 30px" href="{{ path('profile_edit') }}"><strong>Edit Profile</strong></a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="float-left" style="padding-left: 30px; padding-right: 30px" href="{{ path('admin_index') }}"><strong>Admin edit</strong></a>
        {% endif%}
    {% else %}
        <a class="float-left" style="padding-left: 30px;" href="{{ path('app_login') }}"><strong>Login</strong></a>
        <a class="float-left" style="padding-left: 30px;" href="{{ path('app_register') }}"><strong>Register</strong></a>

    {% endif %}
</nav>